
<div class="row">
  <div class="col-12 col-sm-8 col-md-6 offset-sm-2 offset-md-3">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">
          Login Here !
        </h5>
      </div>
      <div class="card-body">
        <form [formGroup]="loginform" (ngSubmit)="onSubmit()" novalidate>
          <div class="form-group" >
            <input type="text" class="form-control" formControlName="email"  [ngClass]="{
              'is-invalid':submitted && loginD.email.errors}"  required />
            <div *ngIf="submitted && loginD.email.errors" class="invalid-feedback">
              <div *ngIf="loginD.email.errors.required">Email is required</div>
            </div>
          </div>
          <div class="form-group">
              <input type="password" class="form-control" formControlName="password" [ngClass]="{ 'is-invalid':submitted && loginD.password.errors }" required />
              <div *ngIf="submitted && loginD.password.errors" class="invalid-feedback">
                <div *ngIf="loginD.password.errors.required">Password is required</div>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-success btn-sm float-left" >Login</button>
            <img *ngIf="loading" class="pl-3" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <p class="float-right">if you don't have an account? <a routerLink="../signup">Sign Up</a></p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
 <!-- <pre>{{this.loginform.value | json}}</pre>  -->
