<div class="row">
  <div class="col-12 col-md-6">
    <!-- <p>
      home works!
    </p>
    <pre>{{myform.value | json}}</pre>
    <ul>
      <li *ngFor="let author of authors">
        {{author.firstname}} {{author.lastname}} {{author.email}}
      </li>
    </ul> -->
    
    
    </div>
    <div class="col-12 col-md-6">
      <!-- <div class="dash-title">
        <h1>{{title}}</h1>
    </div>-->
    <div class="dash-nav float-right mb-3">
        <a [routerLink]="['/user/create']" class="btn btn-success">Add Post</a>
    </div>
    
  </div>
  <div class="col-12">
    
  </div>
  <table class="table table-bordered">
    <thead class="thead-dark">
    <tr>
      <th>User ID</th>
      <th>User Image</th>
      <th>User Detail</th>
      <th>Action</th>
    </tr>
    </thead>
    <tr *ngFor="let user of users">
      <td>{{user.id}}</td>
      <td><img class="rounded-circle" style="width:50px;" src="{{user.avatar}}"></td>
      <td>{{user.first_name}} {{user.last_name}}</td>
      <td><a [routerLink]="['/user', user.id]" class="btn btn-info" >Edit</a></td>
    </tr>
  </table>
  </div>